#define MENU_ID 1
#define MENU_FILE_SAVE 10
#define MENU_FILE_OPEN 11
#define MENU_FILE_COMPRESS_LZW 12
#define MENU_FILE_COMPRESS_HUFFMAN 13
#define MENU_JPEG 14
#define MENU_INFO 15
#define DIALOG_TITLE 16
#define DIALOG_COMPRESS 17
#define DIALOG_SHOW_EXAMPLE 18
#define DIALOG_TEXT_SOURCE 19
#define	DIALOG_TEXT_JPEG 20
#define DIALOG_TEXT_RESULT 21
#define POGGERS 30
#include <windows.h>

MENU_ID MENU
{
	POPUP "&Plik"
	{
		MENUITEM "&Zapisz", MENU_FILE_SAVE
		MENUITEM "&OtwÛrz", MENU_FILE_OPEN
		MENUITEM SEPARATOR
		POPUP "&Kompresuj"
		{
			MENUITEM "&LZW", MENU_FILE_COMPRESS_LZW
			MENUITEM "&Kodowanie Huffmana", MENU_FILE_COMPRESS_HUFFMAN
		}
	}
		MENUITEM "&Kreator JPEG", MENU_JPEG
		MENUITEM "&Info", MENU_INFO
}

DIALOG_TITLE DIALOGEX 30, 30, 600, 420
CAPTION "KOMPRESJA JPEG 8x8"
{
	CTEXT "èrÛd≥o", DIALOG_TEXT_SOURCE, 140, 200, 40, 20
	CTEXT "Kompresja i dekompresja JPEG", DIALOG_TEXT_JPEG, 260, 200, 80, 30
	CTEXT "Otrzymany obraz", DIALOG_TEXT_RESULT, 420, 200, 40, 20
	PUSHBUTTON "Przyk≥ad", DIALOG_SHOW_EXAMPLE, 280, 100, 40, 20
	PUSHBUTTON "Losuj", DIALOG_COMPRESS, 280, 300, 40, 20
}

POGGERS ICON "icon.ico"