#define MENU_ID 1
#define MENU_FILE_NEW 10
#define MENU_FILE_OPEN_VIEW 11
#define MENU_FILE_OPEN_COMPVIEW_LZW 12
#define MENU_FILE_OPEN_COMPVIEW_HUFFMAN 13
#define MENU_FILE_EDIT 14
#define MENU_FILE_COMPRESS_LZW 15
#define MENU_FILE_COMPRESS_HUFFMAN 16
#define MENU_JPEG 17
#define MENU_HELP 18

MENU_ID MENU
{
	POPUP "&Plik"
	{
		MENUITEM "&Nowy", MENU_FILE_NEW
		POPUP "&Otwórz"
		{
			MENUITEM "&Podgl¹d", MENU_FILE_OPEN_VIEW
			POPUP "&Podgl¹d kompresji"
			{
				MENUITEM "&LZW", MENU_FILE_OPEN_COMPVIEW_LZW
				MENUITEM "&Kodowanie Huffmana", MENU_FILE_OPEN_COMPVIEW_HUFFMAN
			}
		}
		MENUITEM "&Edytuj", MENU_FILE_EDIT
		MENUITEM SEPARATOR
		POPUP "&Kompresuj"
		{
			MENUITEM "&LZW", MENU_FILE_COMPRESS_LZW
			MENUITEM "&Kodowanie Huffmana", MENU_FILE_COMPRESS_HUFFMAN
		}
	}
		MENUITEM "&Kreator JPEG", MENU_JPEG
		MENUITEM "&Pomoc", MENU_HELP
}
